## Analise de Dados
Crie um código que leia um arquivo de csv com nomes de alunos e suas respectivas notas e armazene as informações em um dataframe pandas. Em seguida, calcular a média de cada aluno e imprimir o nome do aluno e sua média.

In [ ]:
import pandas as pd

In [13]:

df = pd.read_csv('lista_alunos.csv', sep=';')
print(df.head())

     nome  nota1  nota2  nota3
0    João    8.5   10.0    5.0
1   Maria    9.0    8.5    7.0
2   Pedro    7.5    6.0    8.0
3     Ana    8.0    9.0    7.5
4  Carlos    6.5    7.0    8.5

In [14]:
df['media'] = df[['nota1', 'nota2', 'nota3']].mean(axis=1)

In [15]:
df

        nome  nota1  nota2  nota3     media
0       João    8.5   10.0    5.0  7.833333
1      Maria    9.0    8.5    7.0  8.166667
2      Pedro    7.5    6.0    8.0  7.166667
3        Ana    8.0    9.0    7.5  8.166667
4     Carlos    6.5    7.0    8.5  7.333333
5    Beatriz    9.5    8.0    7.0  8.166667
6      Lucas    7.0    6.5    8.0  7.166667
7   Fernanda    8.2    7.5    9.0  8.233333
8     Rafael    6.8    7.0    8.2  7.333333
9    Juliana    7.9    8.0    7.5  7.800000
10   Gabriel    8.3    7.5    9.0  8.266667
11   Larissa    9.1    8.5    7.0  8.200000
12    Felipe    7.4    6.5    8.0  7.300000
13   Mariana    8.7    7.5    9.0  8.400000
14    Thiago    6.9    7.0    8.5  7.466667
15    Camila    8.6    7.5    9.0  8.366667
16     Bruno    7.3    6.5    8.0  7.266667
17   Isabela    9.2    8.5    7.0  8.233333
18   Gustavo    7.8    6.5    8.0  7.433333
19    Renata    8.4    7.5    9.0  8.300000